body {
  font-family: Arial, Helvetica, sans-serif;
}

#calculator {
  width: 220px;
  border: 1px solid black;
  padding: 10px;
}

#display {
  width: 100%;
  height: 50px;
  border: 1px solid black;
  margin-bottom: 10px;
  text-align: left;
}

button {
  width: 60px;
  height: 40px;
  margin: 5px;
  font-size: 18px;
  border: 1px solid #000;
}

.operator {
  background-color: #f0f0f0;
}

.number {
  background-color: #d0d0d0;
}
